@import '/Users/cwefso/projects/debatable-practice/src/styles/_colors.scss';
@import '/Users/cwefso/projects/debatable-practice/src/styles/_fonts.scss';

.topic {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: linear-gradient(397deg, #000000 0%, #2f2f2f 107%);
  color: white;
}

.topic-img {
  margin-top: 10vh;
  display: flex;
  width: 50vw;
  height: 50vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  width: 25vw;
  border-radius: 50%;
  box-shadow: $glow-white;
}

h3 {
  height: 70vh;
  font-family: $header;
  font-size: 5.75em;
  text-shadow: $glow-white;
}

.topic-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: centeer;
}

// button {
//   height: 10vh;
//   color: red;
//   font-size: 5em;
// }